body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  margin-top: 20px;
}

.grid-container {
  display: grid;
  gap: 1px;
  width: 100%;
}

.grid-cell {
  background-color: #e4e4e4;
  cursor: pointer;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blinking {
  animation: blinker 1s linear infinite;
  background-color: #e4e4e4;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: not-allowed;
}

.disabled {
  cursor: not-allowed !important;
}

@keyframes blinker {
  50% {
    background-color: yellow;
  }
}

.navigation-container {
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 250px;
}

.navigation-header {
  margin-bottom: 20px;
}

.arrow-icon {
  cursor: pointer;
  margin: 5px;
}
.setting-icon {
  cursor: pointer;
}

.middle-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}
.down-arrow {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .arrow-icon,
  .robot-icon,
  .setting-icon {
    font-size: 1.5rem;
  }

  .navigation-container {
    margin: 20px 0 0 22%;
    height: 90%;
  }
  .navigation-header {
    margin-bottom: 10px;
    font-size: 10px;
  }
}

@media (min-width: 430px) and (max-width: 932px) {
  .arrow-icon,
  .robot-icon,
  .setting-icon {
    font-size: 1.5rem;
  }

  .navigation-container {
    margin: 20px 0 0 30%;
    height: 90%;
  }
  .navigation-header {
    margin-bottom: 10px;
    font-size: 10px;
  }
}
